[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
channels = "*"
channels-redis = "*"
daphne = "*"
psycopg2 = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
