{% extends '_base.html' %}
{% load game %}

{% block title %}
    参加中のリーグ一覧
{% endblock title %}



{% block content %}
<div class="container-fluid">
    <a class="btn btn-primary mb-1" data-bs-toggle="collapse" href="#filtterCollapse" role="button" aria-expanded="false" aria-controls="collapseExample">
        <i class="bi bi-filter"></i>
    </a>
    <div class="collapse" id="filtterCollapse">
        <div class="card card-body mt-0 row px-0 mx-1 flex-row">
            <div class="col-4">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="radio" name="league_filter" id="check_all" checked value="1">
                    <label class="form-check-label" for="check_all">all</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="radio" name="league_filter" id="check_participate" value="2">
                    <label class="form-check-label" for="check_participate">参加中</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="radio" name="league_filter" id="check_running" value="3">
                    <label class="form-check-label" for="check_running">開催中</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="radio" name="league_filter" id="check_finished" value="4">
                    <label class="form-check-label" for="check_finished">終了済</label>
                </div>
            </div>

            <div class="col-4">
                <div class="form-check form-switch">
                    <input  class="form-check-input" type="radio" name="league_order" id="order_created" checked value="created_at">
                    <label class="form-check-label" for="check_all">登録順</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="radio" name="league_order" id="order_played" value="players">
                    <label class="form-check-label" for="check_participate">人数順</label>
                </div>
            </div>

            <div class="col-4">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="radio" name="league_ordering" id="lower" checked value="lower">
                    <label class="form-check-label" for="check_all">降順</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="radio" name="league_ordering" id="upper" value="upper">
                    <label class="form-check-label" for="check_participate">昇順</label>
                </div>
            </div>

        </div>
    </div>


    <div class="accordion my-3" id="accordionLeague">
    </div>

</div>

<!-- * TEMPLATE -->
<div class="accordion-item d-none" id="for_template">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="">
            <span id="badge" class="badge bg-danger rounded-pill me-1" data-bs-toggle="tooltip" data-bs-html="true" title="参加人数">0人</span>
        </button>
    </h2>
    <div class="accordion-collapse collapse" id="">
        <div class="card">
            <div class="card-body">
                <div class="card-text mb-3">
                </div>
                <a href="" class="btn btn-primary" id="participate">参加する</a>
                <a href="" class="btn btn-secondary" id="ranking">順位表</a>
            </div>
            <div class="card-footer text-muted py-1">
                <small></small>
            </div>
        </div>
    </div>
</div>
<!-- *TEMPLATE -->

<!-- *PAGINATION -->
<nav class="d-flex justify-content-center">
    <ul class="pagination pagination-sm" id="pagination_ul">
        <li class="page-item"><a class="page-link" id="first_page">&laquo;</a></li>
        <li class="page-item"><a id="last_page" class="page-link">&raquo;</a></li>
    </ul>
</nav>

<li class="page-item d-none" id='pagination_template'>
    <a class="page-link page-num">4</a>
</li>
<!-- */PAGINATION  -->


{% endblock content %}


{% block extra_js %}
    <script>
        const pagination_ul = document.getElementById('pagination_ul');
        const pagination_template = document.getElementById('pagination_template');

        function reset_pagination(max_page, current_page, filter_type, order, ordering, search_key){
            const page_nums = document.querySelectorAll('.page-num');
            page_nums.forEach((page_num)=>{
                page_num.remove();
            });
            if(max_page <= 5){
                for(let i=1; i<=max_page; i++){
                    const clone = pagination_template.cloneNode();
                    const a = document.createElement('a');
                    a.classList.add('page-link', 'page-num');
                    a.textContent = i;
                    a.addEventListener('click', (e)=>{
                        e.preventDefault();
                        $.ajax({
                            type: "get",
                            url: "{% url 'game:league_filter_ajax' %}",
                            dataType: "json",
                            data: {
                                'search_key': $("input[name='search_key']").val(),
                                'filter_type': filter_type,
                                'current_page': i,
                                'order': order,
                                'ordering': ordering,
                                'search_key': search_key
                            },
                            success: function(data){
                                set_leagues(data['leagues']);
                                reset_pagination(data['max_page'], data['current_page'], data['filter_type'], data['order'], data['ordering'], data['search_key']);
                            }
                        });
                    });
                    clone.append(a);
                    clone.classList.remove('d-none');
                    if(i === current_page) clone.classList.add('active');
                    pagination_ul.insertBefore(clone, pagination_ul.lastElementChild);
                }
            }
            else{
                const start = Math.max(current_page-2, 1);
                const end = Math.min(current_page+2, max_page);
                if(current_page-2 > 1){
                    const clone = pagination_template.cloneNode();
                    const a = document.createElement('a');
                    a.classList.add('page-link', 'page-num');
                    a.innerHTML = '&middot;&middot;&middot;';
                    clone.append(a);
                    clone.classList.remove('d-none');
                    pagination_ul.insertBefore(clone, pagination_ul.lastElementChild);
                }
                for(let i=start; i<=end; i++){
                    const clone = pagination_template.cloneNode();
                    const a = document.createElement('a');
                    a.classList.add('page-link', 'page-num');
                    a.textContent = i;
                    a.addEventListener('click', (e)=>{
                        e.preventDefault();
                        $.ajax({
                            type: "get",
                            url: "{% url 'game:league_filter_ajax' %}",
                            dataType: "json",
                            data: {
                                'search_key': $("input[name='search_key']").val(),
                                'current_page': i,
                                'filter_type': filter_type,
                                'order': order,
                                'ordering': ordering,
                                'search_key': search_key
                            },
                            success: function(data){
                                set_leagues(data['leagues']);
                                reset_pagination(data['max_page'], data['current_page'], data['filter_type'], data['order'], data['ordering'], data['search_key']);
                            }
                        });
                    });
                    clone.append(a);
                    clone.classList.remove('d-none');
                    if(i === current_page) clone.classList.add('active');
                    pagination_ul.insertBefore(clone, pagination_ul.lastElementChild);
                }
                if(current_page+2 < max_page){
                    const clone = pagination_template.cloneNode();
                    const a = document.createElement('a');
                    a.classList.add('page-link', 'page-num');
                    a.innerHTML = '&middot;&middot;&middot;';
                    clone.append(a);
                    clone.classList.remove('d-none');
                    pagination_ul.insertBefore(clone, pagination_ul.lastElementChild);
                }
            }
        }


        function set_leagues(data){
            const template = document.getElementById('for_template');
            const parent = document.getElementById('accordionLeague');
            while(parent.firstChild){
                parent.removeChild(parent.firstChild);
            }
            data.forEach((league)=>{
                const clone = template.cloneNode(true);
                clone.classList.remove('d-none');
                const span = document.createElement('span');
                span.classList.add("badge", 'bg-danger', 'rounded-pill', 'me-1');
                span.setAttribute("data-bs-toggle", "tooltip");
                span.setAttribute("data-bs-html", "true");
                span.setAttribute("title", "参加人数");
                span.textContent = league['players'].length + "人";
                clone.querySelector(".accordion-button").textContent = league['name'];
                clone.querySelector(".accordion-button").insertBefore(span, clone.querySelector(".accordion-button").firstChild);
                clone.querySelector(".accordion-button").setAttribute("data-bs-target", "#" + league['name'].replace(/ /, '___'));
                clone.querySelector(".accordion-collapse").id = league['name'].replace(/ /, '___');
                clone.querySelector(".card-text").innerHTML = league['details'].replace(/\r\n/g, "<br>");
                clone.querySelector("small").innerHTML = "<p class='lh-sm mb-0'>期間：" + league['start_at'] + "&ThickSpace;-&ThickSpace;" + league['finish_at'] + "<br>主催者：" + league['host'] + "</p>";
                clone.querySelector("#participate").setAttribute("href", "{% url 'game:search_for_opponent' 123456 %}".replace(/123456/, league['name']));
                if(!league['can_participate']) clone.querySelector("#participate").classList.add("disabled");
                clone.querySelector("#ranking").setAttribute("href", "{% url 'game:ranking' 123456 %}".replace(/123456/, league['name']));
                parent.append(clone);
            })
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        }


        function filter_leagues(from="header"){
            const types = document.getElementsByName('league_filter');
            var type = '';
            types.forEach((t)=>{
                if(t.checked) type = t.value;
            });
            const orders = document.getElementsByName('league_order');
            var order = '';
            orders.forEach((o)=>{
                if(o.checked) order = o.value;
            });
            const orderings = document.getElementsByName('league_ordering');
            var ordering = '';
            orderings.forEach((o)=>{
                if(o.checked) ordering = o.value;
            });
            let search_key = '';
            if(from==="offcanvas") search_key = $("input[name='offcanvas_search_key']").val();
            else search_key = $("input[name='search_key']").val();
            $.ajax({
                type: "get",
                url: "{% url 'game:league_filter_ajax' %}",
                dataType: "json",
                data:{
                    'filter_type': type,
                    'order': order,
                    'ordering': ordering,
                    'search_key': search_key,
                    'current_page': 1,
                },
                success: function(data){
                    set_leagues(data['leagues']);
                    reset_pagination(data['max_page'], data['current_page'], data['filter_type'], data['order'], data['ordering'], data['search_key']);
                },
            })
        }


        $("input[name='league_filter']").change(function(e){
            filter_leagues();
        });

        $("input[name='league_order']").change(function(e){
            filter_leagues();
        });

        $("input[name='league_ordering']").change(function(e){
            filter_leagues();
        });

        $("#search_btn").click(function(e){
            e.preventDefault();
            filter_leagues();
        });

        $("#offcanvas_search_btn").click(function(e){
            e.preventDefault();
            filter_leagues("offcanvas");
            $("#offcanvas_close_btn").click();
        });

        $(function(){
            filter_leagues();
        });

    </script>
{% endblock extra_js %}
