{% extends '_base.html' %}
{% load game %}

{% block title %}
    参加中のリーグ一覧
{% endblock title %}



{% block content %}
<div class="accordion mb-3" id="accordionLeague">
{% for league in object_list %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}">
                <span class="badge bg-danger rounded-pill" data-bs-toggle="tooltip" data-bs-html="true" title="参加人数">{{ league.players.count }}人</span>&ThickSpace;{{ league }}
            </button>
        </h2>
        <div class="accordion-collapse collapse" id="collapse{{ forloop.counter }}">
            <div class="card">
                <div class="card-body">
                    <div class="card-text mb-3">
                        {{ league.details|linebreaksbr }}
                    </div>
                    <a href="{% url 'game:search_for_opponent' league.name %}" class="btn btn-primary">参加する</a>
                    <a href="{% url 'game:ranking' league.name %}" class="btn btn-secondary">順位表</a>
                    <a href="{% url 'game:result_list' league.name %}" class="btn btn-secondary">結果一覧</a>
                </div>
                <div class="card-footer text-muted py-1">
                    <small>主催者：{{ league.host }}</small>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>

<!-- *PAGINATION -->
<nav class="d-flex justify-content-center">
    <ul class="pagination pagination-sm">
        {% if page_obj.has_previous %}
            <li class="page-item"><a href="?{% url_replace request 'page' page_obj.previous_page_number %}" class="page-link">&laquo;</a></li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item active"><a href="" class="page-link">{{ num }}</a></li>
            {% else %}
                <li class="page-item"><a href="?{% url_replace request 'page' num %}" class="page-link">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item"><a href="?{% url_replace request 'page' page_obj.next_page_number %}" class="page-link">&raquo;</a></li>
        {% endif %}
    </ul>
</nav>
<!-- */PAGINATION  -->

{% endblock content %}
