{% extends '_base.html' %}
{% load game %}

{% block title %}
    順位表
{% endblock title %}


{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-hover table-responsive-md">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">プレイヤー</th>
                    <th scope="col">DP</th>
                    <th scope="col">試合数</th>
                    <th scope="col">勝数</th>
                    <th scope="col">負数</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                    <tr class="text-start">
                        <th scope="row">{{ object.rank }}</th>
                        <td>{% if object.player.socialaccount_set.all %}<img src="{{ object.player.socialaccount_set.all.0.get_avatar_url }}" width="25px" height="25px" class="rounded-circle align-bottom">{% else %}<i class="bi bi-person-lines-fill"></i>{% endif %}&ThickSpace;<span class="link-primary">{{ object.player.username }}</span></td>
                        <td>{{ object.dp }}</td>
                        <td>{{ object.game_num }}</td>
                        <td>{{ object.win }}</td>
                        <td>{{ object.loose }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% include 'pagination.html' %}
{% endblock content %}
