{% extends '_base.html' %}
{% load static %}

{% block title %}
    対戦相手を探す
{% endblock title %}



{% block content %}
<div class="alert alert-info collapse p-1" id="failed_message">
    <!-- <span>対戦相手が見つかりませんでした。</span> -->
</div>
<h2>対戦相手を探す</h2>
<small class="text-muted" id="dp_display">
    現在のdp : {{ result.dp }}
</small>
<form action="" method="post" class="my-3">
    {% csrf_token %}
    <div class="input-group mb-3">
        <label for="id_league" class="input-group-text">参加リーグ</label>
        <select class="form-select"  id="id_league" name="league" disabled>
            <option value="{{ league.pk }}">{{ league }}</option>
        </select>
    </div>
    <button class="btn btn-primary" id="search_for_opponent" type="submit">対戦相手を探す</button>
    <button class="btn btn-danger collapse" id="cancel_btn" type="submit">キャンセル</button>
</form>
<p class="text-muted" id="matching_message"></p>


{% endblock content %}


{% block extra_js %}
<script src="{% static 'js/for_ajax_csrf.js' %}"></script>
<script>
    const failed_message = document.getElementById('failed_message');
    function search_for_opponent(){
        $.ajax({
            type: "post",
            url: "{% url 'game:search_for_opponent_ajax' league_name %}",
            dataType: "json",
            data: {
                'league_name': "{{ league_name }}",
            },
            success: function(data){
                const is_success = data['is_success'];
                const roomName = data['roomname'];
                console.log(data['roomname']);
                $("#matching_message").text("");
                if(!is_success){
                    const message = data['message'];
                    failed_message.classList.add("show");
                    failed_message.innerHTML = "<span>" + message + "</span>";
                    $("#cancel_btn").removeClass('show');
                    $("#search_for_opponent").removeClass('collapse');
                    clearInterval(timerId);
                }
                else{
                    window.location.pathname = 'game/' + "{{ league_name }}" + '/room/' + roomName + '/';
                    console.log("{% url 'game:room' league_name 123456 %}".replace(/123456/, roomName));
                }
            }
        });
    }

    function cancel(){
        $.ajax({
            type: "post",
            url: "{% url 'game:cancel_ajax' league_name %}",
            dataType: "json",
            data: {
            },
            success: function(data){
                console.log(data['message']);
            }
        })
    }

    let timerId = null;
    function display_time(start_time=30){
        document.getElementById('matching_message').textContent = "対戦相手を探しています... 00:" + start_time;
        if(start_time===0) clearInterval(timerId);
        timerId = setTimeout(display_time, 1000, start_time - 1);
    }

    $("#search_for_opponent").click(function(e){
        e.preventDefault();
        $(this).addClass('collapse');
        $("#failed_message").removeClass('show');
        $("#cancel_btn").addClass("show");
        display_time();
        search_for_opponent();
    });

    $("#cancel_btn").click(function(e){
        e.preventDefault();
        $(this).removeClass('show');
        $("#search_for_opponent").removeClass('collapse');
        cancel();
        $("#matching_message").text("");
        clearInterval(timerId);
    });
</script>
{% endblock extra_js %}


