{% extends '_base.html' %}


{% block title %}
    Rating Duel
{% endblock title %}



{% block content %}
    <h2 class="mb-3">Rating Duel (&beta;)</h2>
    <div class="container">
        <div class="row mb-3 border rounded p-2">
            <h3>このサイトについて</h3>
            <div>
                このサイトはマスターデュエルやデュエルリンクスでのルーム戦を使用し、レート戦を行うためのものです。<br>
                <a href="https://twitter.com/kinghalo_dl" target="_blank">kighaloさん</a>のtwitterでの提案を見て、勝手に作らせていただきました。<br>
                バグや要望などがあれば、<a href="https://twitter.com/tokud_duellinks" target="_blank">とくD</a>にDMやマシュマロでお知らせください。
            </div>
        </div>
        <div class="row mb-3 border rounded p-2">
            <h3 class="">このサイトの使用方法</h3>
            <div>
                基本的な流れは
                <ol>
                    <li>対戦相手を探す</li>
                    <li>マッチングした相手とチャットページでやりとりし、ルーム戦を行う</li>
                    <li>対戦後、結果を入力</li>
                </ol>
                という感じです。<br>
                このサイトでは、ユーザーが各々好きなレギュレーションでリーグを開催することができ、マッチングは同一リーグ内で行われます。<br>
                大会などでの使用も大歓迎です。
            </div>
        </div>
        <div class="row mb-3 border rounded p-2">
            <h3>レーティングについて</h3>
            <div class="mb-2">
                このサイトでのポイント名は、デュエルリンクスでのKCを参考にDPとしました。<br>
                また、レートの計算方法としては、イロレーティングを採用しています。<br>
            </div>
            <div>
                <h6>イロレーティングとは</h6>
                簡単に説明すると、対戦相手とのレート差によって勝敗後のレート変動が決まります。<br>
                相手が自分より格上であればあるほど、勝って得られるポイントは多く、負けて失うポイントは少なくなります。
            </div>
        </div>
        <div class="row mb-3 border rounded p-2">
            <h3>&beta;版について</h3>
            <div>
                このサイトは現在&beta;版です。<br>
                バグの確認や修正、新機能の追加など、これからも進めていく予定ですので完成版はもうしばらくお待ちください。
            </div>
        </div>
    </div>
{% endblock content %}
