<form action="" class=" input-group d-none d-md-flex" id="header_search_form">
    <input type="search" name="search_key" placeholder="Search..." value="{{ search_key }}" class="form-control">
    <div class="btn-group" role="group">
        <button type="submit" id="search_btn" class="input-group-text btn btn-dark"><i class="bi bi-search"></i>&ThickSpace;検索</button>
        <!-- <div class="btn-group" role="group">
            <button id="btnGroupDrop" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown">
            </button>
            <ul class="dropdown-menu bg-dark ps-1">
                <div class="form-check form-switch text-light">
                    <input class="form-check-input" type="checkbox" id="search_form_player" checked>
                    <label class="form-check-label" for="search_form_player">プレイヤー名</label>
                </div>
                <div class="form-check form-switch text-light">
                    <input class="form-check-input" type="checkbox" id="search_form_league" checked>
                    <label class="form-check-label" for="search_form_league">リーグ名</label>
                </div>
            </ul>
        </div> -->
    </div>
</form>

